{% extends "base.twig" %}
{% block content %}
    <h1>{{ seo.title }}</h1>
    <p>{{ seo.desc }}</p>
    {% for key, messages in messages() %}
        {% for message in messages %}
            {{ message|raw }}
        {% endfor %}
    {% endfor %}
    <form action="" method="post">
        <input type="text" name="email" placeholder="email" value="{{ form.data.email }}">
        {{ form.msg.err.email.0 }}
        {{ csrfInput() }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}